body {
    margin: 0;
    padding: 0;
    background: #ffa801;
    font-family: 'Work sans', sans-serif;
    /* font-weight: 400; */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #ffc101;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 26px;

    position: relative;
}

nav ul li a {
    color: #303952;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 16px;
}

nav ul li a:hover {
    color: #000;
}

nav ul li a::before {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #303952;

    position: absolute;
    top: 0;
    width: 0%;
}

nav ul li a:hover::before {
    width: 100%;
    transition: all ease-in-out 150ms;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #303952;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

    border-radius: 50px;
    /* background: none; */
    box-shadow:  20px 20px 60px #d98f01,
    -20px -20px 60px #ffc101;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn {
    background: white;
}
.search-btn{
    color: #ffa801;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #303952;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    
}

.search-txt {
    border: none;
    background: none;
    background-color: none;
    outline: none;
    float: left;
    padding: 0;
    color: #f7f1e3;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.list-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #303952;
    /* max-width: 100px; */
    height: 40px;
    border-radius: 40px;
    padding: 10px;

    border-radius: 50px;
    background: none;
    box-shadow:  20px 20px 60px #d98f01,
    -20px -20px 60px #ffc101;
}

#openbox {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

#openbox.fade {
    opacity: 1;
}


.list-txt {
    /* font-family: sans-serif; */
    font-weight: lighter;
    border: none;
    background: none;
    background-color: none;
    outline: none;
    float: left;
    padding: 0;
    margin:  0 10px;
    color: #303952;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;

    text-decoration: none;
    /* width: 100px; */
}

#link_icon {
    color: #303952; 
    margin: auto; 
    padding: 5px;
}
